ul {
    list-style-type: none;
}

input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    margin: 0.4em;
}

#rest {
    max-height: calc(100% - 90px);
    overflow-y: auto;
}